<!DOCTYPE HTML>
<html>
<head>   
    <link rel="stylesheet" type="text/css" href="../css/book.css">

</head>

<body>
    <div id="title">

        <h1 style="font-family:华文行楷;font-size:50px;color:white" ><b>武汉科技大学图书馆</b></h1><br />
        <a href="http://localhost:8080/wust2_No5/views/Book.html" style="font-family:KaiTi;font-size:18px;color:white;margin-left:800px">首页</a>
        <a href="http://localhost:8080/wust2_No5/views/Register.html" style="font-family:KaiTi;font-size:18px;color:white">注册</a>
        <a href="http://localhost:8080/wust2_No5/views/Login.html" style="font-family:KaiTi;font-size:18px;color:white">用户登陆</a>
        <a href="http://localhost:8080/wust2_No5/views/Admin.html" style="font-family:KaiTi;font-size:18px;color:white">管理员登录</a>
    </div>  

    <div id="search" >
   
             <a style="color:white" href="" title="提供各类型的纸质图书和电子书">图书查询</a>
              <a style="color:white" href="" title="超星搜索为教育和研究提供资料">超星发现</a>
                <a style="color:white" href="" title="本馆提供外文资料和小知识">外文小知识</a>
             <a style="color:white" href="" title="书籍存储数据库">数据库</a>
            <a style="color:white" href="" title="本馆支持链接相关外文书籍">百链外文搜</a> 
        <br />
        <br />
        <input type="text"  name="search"  style="width:500px"/>
        <input type="button"  value="搜索"  style="width:100px;font-family:SimHei"/>             
    </div>
  
    <br />

    <div id="my">
        <img src="../images/book/mylibrary[1].jpg" width="130px" height="130px"/><br />
        </div>
    <div id="user">        
            <input type="button" value="校友返校" style="width:80px;height:30px;background-color:#46A3FF" size="16"/>
      
            <input type="button" value="学术交流" style="width:80px;height:30px;background-color:#46A3FF" size="16" />
   
    </div>

    <div id="fuwu">
       <h1 style="color:white;font-family:STKaiti;font-size:25px "><b>服务</b></h1><br />
        <ul>
            <li>  <a style="color:white" href="">新生专栏</a></li>
            <li> <a style="color:white" href="">图书报销</a></li>
            <li> <a style="color:white" href="">文献传递</a></li>
            <li> <a style="color:white" href="">自动借还</a></li>
            <li> <a style="color:white" href="">培训讲座</a></li>
            <li> <a style="color:white" href="">读书节活动</a></li>
        </ul>
    </div>

    <div id="huanjing">
        <img src="../images/book/huanjing[1].jpg"  width="200px" height="200px"/>
    </div>


    <div id="inform">
        <h1 style="font-size:25px;font-family:STKaiti;color:white"><b>通知·公告</b></h1><br/>
        <ul>            
            <li>  <a style="color:white" href="" >有关图书馆借书和还书的相关流程</a></li>          
            <li> <a style="color:white" href="">有关暑期图书馆开闭馆的通知和相关安排</a></li>
            <li> <a style="color:white" href="">2017级新生注册图书馆用户账号的通知</a></li>
            <li> <a style="color:white" href="">图书馆志愿者招新开始啦！！！</a></li>
            <li> <a style="color:white" href="">图书馆有关空调开放的通知</a></li>
            <li> <a style="color:white"  href="">关于学生占座位现象的通知和相关规定</a></li>
        </ul>
    </div>
    <br />

    <div id="describle">
        <h1 style="font-size: 25px;font-family:STKaiti;color: white"><b>本馆概况</b></h1><br/>
        <ul>
            <li>  <a style="color:white" href="" >本馆介绍</a></li>  
            <li>  <a style="color:white" href="">开放时间</a></li>  
            <li>  <a style="color:white" href="">图书馆全景图</a></li>  
            <li>  <a style="color:white" href="">规章制度</a></li>  
            <li>  <a style="color:white" href="">办事指南</a></li>  
            <li>  <a style="color:white" href="">读者信箱</a></li>  
        </ul>
    </div>

    <div id="huanjing">
        <img src="../images/book/huanjing[1].jpg"  width="200px" height="255px"/>
        <br />
        </div>
    
    <div id="ziyuan">
         <h1 style="font-size: 25px;font-family:STKaiti;color: white"><b>资源</b></h1>
        <ul>
            <li>  <a style="color:white" href="">已购数据库</a></li>
            <li>  <a style="color:white" href="">开放获取</a></li>
            <li>  <a style="color:white" href="">手机图书馆</a></li>
      
            <li>  <a style="color:white" href="">科大文库</a></li>
            <li>  <a style="color:white" href="">试用数据库</a></li>
            <li>  <a style="color:white" href="">自建数据库</a></li>
        </ul>

    </div>
    <div id="hudong">
         <h1 style="font-size: 25px;font-family:STKaiti;color: white"><b>互动</b></h1>
        <ul>
            <li>  <a style="color:white" href="">咨询台</a></li>
            <li>  <a style="color:white" href="">常见问题</a></li>
            <li>  <a style="color:white" href="">图书荐购</a></li>
      
            <li>  <a style="color:white" href="">今日到馆人次</a></li>
            <li>  <a style="color:white" href="">今日图书借还册次</a></li>
            <li>  <a style="color:white" href="">今日借阅动态</a></li>
        </ul>

    </div>
    <div id="wenti">
                  常见问题
    </div>
    <div id="zixuntai">
                   咨询台
    </div>
   <div id="tushu">
                    图书荐购
   </div>
   <div id="jieyue">
                 借阅动态
   </div>
   
    
</body>
</html>
