<!DOCTYPE HTML>
<html>
<head>   
    <link rel="stylesheet" type="text/css" href="../../CSS/book.css">

</head>

<body>
    <div id="title">

        <font size="50" face="华文行楷" color="white"><b>武汉科技大学图书馆</b></font><br />
        <a href="file:///D:/java/workspace/git/wust2.No5/src/main/webapp/Views/book/Book.html" style="font-family:KaiTi;font-size:18px;color:white;margin-left:800px">首页</a>
        <a href="file:///D:/java/workspace/git/wust2.No5/src/main/webapp/Views/book/Register.html" style="font-family:KaiTi;font-size:18px;color:white">注册</a>
        <a href="file:///D:/java/workspace/git/wust2.No5/src/main/webapp/Views/book/Login.html" style="font-family:KaiTi;font-size:18px;color:white">用户登陆</a>
        <a href="file:///D:/java/workspace/git/wust2.No5/src/main/webapp/Views/book/Admin.html" style="font-family:KaiTi;font-size:18px;color:white">管理员登录</a>
    </div>  

    <div id="search" >
   
             <a style="color:white" href="~/Views/book/Search1.cshtml" title="提供各类型的纸质图书和电子书">图书查询</a>
              <a style="color:white" href="~/Views/book/Search2.cshtml" title="超星搜索为教育和研究提供资料">超星发现</a>
                <a style="color:white" href="~/Views/book/Search3.cshtml" title="本馆提供外文资料和小知识">外文小知识</a>
             <a style="color:white" href="~/Views/book/Search4.cshtml" title="书籍存储数据库">数据库</a>
            <a style="color:white" href="~/Views/book/Search5.cshtml" title="本馆支持链接相关外文书籍">百链外文搜</a> 
        <br />
        <br />
        <input type="text"  name="search"  style="width:500px"/>
        <input type="button"  value="搜索"  style="width:100px;font-family:SimHei"/>             
    </div>
  
    <br />

    <div id="my">
        <img src="../../images/book/mylibrary[1].jpg" width="130px" height="130px"/><br />
        </div>
    <div id="user">        
            <input type="button" value="校友返校" style="width:80px;height:30px;background-color:#46A3FF" size="16"/>
      
            <input type="button" value="学术交流" style="width:80px;height:30px;background-color:#46A3FF" size="16" />
   
    </div>

    <div id="fuwu">
       <font face="华文楷书" size="5px" color="white"><b>服务</b></font><br />
        <ul>
            <li>  <a style="color:white" href="~/Views/serve1.cshtml">新生专栏</a></li>
            <li> <a style="color:white" href="~/Views/serve2.cshtml">图书报销</a></li>
            <li> <a style="color:white" href="~/Views/serve3.cshtml">文献传递</a></li>
            <li> <a style="color:white" href="~/Views/serve4.cshtml">自动借还</a></li>
            <li> <a style="color:white" href="~/Views/serve5.cshtml">培训讲座</a></li>
            <li> <a style="color:white" href="~/Views/serve6.cshtml">读书节活动</a></li>
        </ul>
    </div>

    <div id="huanjing">
        <img src="../../images/book/huanjing[1].jpg"  width="200px" height="200px"/>
    </div>


    <div id="inform">
        <font size="5px" color="white" face="华文楷书"><b>通知·公告</b></font><br/>
        <ul>            
            <li>  <a style="color:white" href="~/Views/Inform1.cshtml" >有关图书馆借书和还书的相关流程</a></li>          
            <li> <a style="color:white" href="~/Views/Inform2.cshtml">有关暑期图书馆开闭馆的通知和相关安排</a></li>
            <li> <a style="color:white" href="~/Views/Inform3.cshtml">2017级新生注册图书馆用户账号的通知</a></li>
            <li> <a style="color:white" href="~/Views/Inform4.cshtml">图书馆志愿者招新开始啦！！！</a></li>
            <li> <a style="color:white" href="~/Views/Inform5.cshtml">图书馆有关空调开放的通知</a></li>
            <li> <a style="color:white"  href="~/Views/Inform6.cshtml">关于学生占座位现象的通知和相关规定</a></li>
        </ul>
    </div>
    <br />

    <div id="describle">
        <font size="5px" color="white" face="华文楷书"><b>本馆概况</b></font><br />
        <ul>
            <li>  <a style="color:white" href="~/Views/Describle1.cshtml" >本馆介绍</a></li>  
            <li>  <a style="color:white" href="~/Views/Describle2.cshtml">开放时间</a></li>  
            <li>  <a style="color:white" href="~/Views/Describle3.cshtml">图书馆全景图</a></li>  
            <li>  <a style="color:white" href="~/Views/Describle4.cshtml">规章制度</a></li>  
            <li>  <a style="color:white" href="~/Views/Describle5.cshtml">办事指南</a></li>  
            <li>  <a style="color:white" href="~/Views/Describle6.cshtml">读者信箱</a></li>  
        </ul>
    </div>

    <div id="huanjing">
        <img src="../../images/book/huanjing[1].jpg"  width="200px" height="200px"/>
        <br />
        </div>
    <div id="wenti">
        <img src="../../images/book/faq[1].jpg" width="230px" height="70px" />

    </div>

    <div id="zixuntai">
        <img src="../../images/book/zixuntai[1].jpg" />
    </div>
    <div id="ziyuan">
        <font face="华文楷书" size="5px" color="white"><b>资源</b></font>
        <ul>
            <li>  <a style="color:white" href="~/Views/Describle1.cshtml">已购数据库</a></li>
            <li>  <a style="color:white" href="~/Views/Describle2.cshtml">开放获取</a></li>
            <li>  <a style="color:white" href="~/Views/Describle3.cshtml">手机图书馆</a></li>
      
            <li>  <a style="color:white" href="~/Views/Describle4.cshtml">科大文库</a></li>
            <li>  <a style="color:white" href="~/Views/Describle5.cshtml">试用数据库</a></li>
            <li>  <a style="color:white" href="~/Views/Describle6.cshtml">自建数据库</a></li>
        </ul>

    </div>
   

    
</body>
</html>
